/*Reset*/

h1 {
  font-size: unset;

  font-weight: unset;
}

ul {
  list-style-type: none;

  padding: unset;
}

a {
  text-decoration: none;
  color: inherit;
}

button {
  border: none;

  background-color: transparent;

  cursor: pointer;
}

/* Typography */
:root {
  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
}

body {
  background-color: black;
  margin: 0;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

/*Layout*/
.l_wrapper {
  width: 768px;
  height: 1024px;
  margin: 28px 578px; /* 상하 28px, 좌우 578px의 여백 설정 */
  background-color: white; /* 메인 콘텐츠 배경을 흰색으로 설정 */
  box-sizing: border-box; /* 패딩과 보더를 포함하여 크기 계산 */
}

.contents {
  display: flex;
  flex-direction: column;
  height: 100%;
  position: relative; /* 추가 */
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
}

.title {
  font-size: 48px;
  flex: 1;
  font-weight: bold;
  text-align: center;
}

.day_section {
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
}

.day_section ul {
  display: flex;
  justify-content: space-between;
  padding: 0 48px;
}

.day_section li {
  font-size: 20px;
  font-weight: 400;
}

.empty-state {
  flex-grow: 1;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 30px;
}

.floating {
  position: absolute;
  bottom: 20px;
  right: 10px;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.additional-icons {
  display: none;
  flex-direction: column;
  margin-bottom: 5px;
}

.additional-icons button,
.floating-button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 5px;
}

.floating-button {
  margin-bottom: 0;
}

.todo-form {
  display: inline-block;
  text-align: center;
  width: 100%;
}

.todo-form h2 {
  font-size: 20px;
  margin-bottom: 30px;
}

.form-group {
  margin-bottom: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.form-group label {
  align-self: flex-start;
  margin-bottom: 5px;
  font-weight: 400;
  width: 50%;
  text-align: left;
  padding-left: 25%; /* label을 input/select와 같은 시작점에 맞춤 */
  box-sizing: border-box;
}

.form-group input,
.form-group select {
  width: 50%;
  padding: 10px;
  font-size: 12px;
  text-align: center;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cancel-btn,
.submit-btn {
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.btn-group{
  display: flex;
  justify-content: center;
  gap: 12px;
}

.cancel-btn,
.submit-btn{
  padding: 10px 40px;
  border-radius: 10px;
  border: 1px solid black;
}

.dropdown {
  position: relative;
  display: inline-block;
  margin-top: 34px;
  margin-bottom: 10px;
  margin-left: 84px;
}

.dropdown-btn {
  background-color: #000;
  color: white;
  padding: 12px 16px;
  font-size: 16px;
  border-radius: 22px;
  display: flex;
  align-items: center;
}

.arrow {
  border: solid white;
  border-width: 0 2px 2px 0;
  display: inline-block;
  padding: 3px;
  margin-left: 10px;
  transform: rotate(45deg);
  transition: transform 0.3s;
}

.arrow.up {
  transform: rotate(-135deg);
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: white;
  min-width: 185px;
  z-index: 1;
  padding: 10px;
  border-radius: 10px;
  margin-top: 10px;
  border: 1px solid black;
}

.dropdown-content.show {
  display: block;
}

.filter-options {
  margin-bottom: 10px;
}

.dropdown-content label {
  display: block;
  padding: 5px 0;
}

.dropdown-content a {
  color: black;
  display: block;
}

#confirmBtn {
  display: block;
  margin-left: auto;
  padding: 5px 10px;
  background-color: #000;
  color: white;
  border-radius: 5px;
}

.todolist .item .category {
  background-color: #f0f0f0;
  padding: 2px 5px;
  border-radius: 3px;
  font-size: 14px;
  margin-right: 10px;
}

.todolist .item .days-left {
  font-size: 14px;
  color: #888;
  margin-left: auto;
  margin-right: 10px;
}


/* 다크 모드 스타일 */
body.dark-mode {
  background-color: white;
}
body.dark-mode .contents {
  background-color: black;
  color: white;
}

body.dark-mode .title {
  color: white;
}

body.dark-mode .day_section{
  background-color: white;
  color: black;
}

body.dark-mode .dropdown-btn {
  background-color: white;
  color: black;
}

body.dark-mode .arrow {
  border-color: black;
}

body.dark-mode .dropdown-content {
  background-color: white;
  color: black;
}

body.dark-mode .dropdown-content a {
  color: black;
}

body.dark-mode #confirmBtn {
  background-color: white;
  color: black;
}

